body {
  background-image: url('../img/ct-bg-white.png');
  background-repeat: repeat
}

.main .main-flex {
  background-image: url('../img/ct-bg-blue.png'), url('../img/ct-bg-orange.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 30%, 100% 30%;
  background-position: 0 0, 100% 113%;
}

.content {
  width: calc(90% - 190px);
  flex: 0 0 calc(90% - 190px);
  @include r(1366) {
    width: 100%;
    flex-basis: 100%;
  }
}

.right-btns {
  padding-top: 45px;
  flex: 0 0 190px;
  width: 190px;
  margin-left: auto;
  @include r(1366) {
    display: none;
  }

  &__btn {
    margin-bottom: 16px;

    &_white {
      color: #fff9e9;
      border-color: #fff9e9;
    }
  }
}

.hero {
  position: relative;
  z-index: 20;
  padding-top: 200px;
  padding-bottom: 40px;
  background-image: url('../img/hero-bg.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 0% -170px;
  height: 100vh;
  @include r(1440) {
    background-position: 35% -20px;
  }
  @include r(1366) {
    background-size: 62%;
    background-repeat: no-repeat;
    background-position: 54% -15%;
  }
  @include r(1280) {
    height: auto;
    background-position: 54% 0;
  }
  @include r(1024) {
    height: auto;
    background-position: 94% 10%;
  }


  .inner {
    width: calc(100% - 320px);
    margin-left: auto;
    margin-right: auto;
    @include r(1024) {
      width: 100%;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 30px;
    font-family: 'Roonite', sans-serif;
    font-size: 182px;
    text-transform: uppercase;
    line-height: 0.8;
    color: rgba(75, 87, 105, 0.7);
    @include rmin(1440) {
      margin-bottom: 70px;
    }
    @include r(1024) {
      font-size: 150px;
    }
    @include r(576) {
      font-size: 100px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -80px;
      left: 420px;
      width: 286px;
      height: 294px;
      background-image: url('../img/hero-bg-2.png');
      background-repeat: no-repeat;
      @include r(576) {
        left: 0%;
      }
    }

    .hero__dots {
      font-family: 'Baron', sans-serif;
      font-style: italic;
    }
  }

  &__subtitle {
    margin-bottom: 22px;
    padding-left: 12px;
    color: #59596f;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    max-width: 550px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: -30px;
    @include r(1280) {
      flex-wrap: wrap;
    }
    @include r(768) {
      justify-content: flex-end;
    }
  }

  &__btn {
    &_nf {
      width: 734px;
      height: 125px;
      font-size: 54px;
      font-weight: 100;
      text-transform: uppercase;
      color: #eee8e2;
      background-image: url('../img/hero-btn-pf.png');
      background-repeat: no-repeat;
      @include r(1366) {
        width: 624px;;
        font-size: 44px;
        background-size: cover;
      }
      @include r(1024) {
        background-position: 20px 15px;
      }
      @include r(768) {
        background-image: none;
        background-color: #c37b52;
        border-radius: 30px;
        width: auto;
        height: auto;
        max-width: 100%;
        padding: 10px 20px;
      }
      @include r(576) {
        font-size: 23px;
      }
    }

    &_about {
      padding: 14px 29px;
      color: #4f6082;
      font-size: 45px;
      font-weight: 300;
      text-transform: uppercase;
      border: 1px solid #59596f;
      -webkit-border-radius: 41px;
      -moz-border-radius: 41px;
      border-radius: 41px;
      @include r(768) {
        padding: 10px 20px;
      }
      @include r(576) {
        font-size: 23px;
      }
    }
  }
}

.description {
  margin-bottom: 75px;
  padding-top: 45px;
  background-image: url('../img/descr-bg-big.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
  @include r(768) {
    margin-right: -30px;
  }

  &__top {
    color: #f0a776;
    font-family: 'Roonite', sans-serif;
    font-size: 51px;
    line-height: 1;
    @include r(576) {
      font-size: 40px;
    }
  }


  &__center {
    margin-left: auto;
    padding-right: 40px;
    padding-bottom: 25px;
    max-width: 55%;
    color: #f9efe4;
    font-weight: 100;
    font-size: 20px;
    line-height: 1;
    background-image: url('../img/descr-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 55px;
    @include r(1024) {
      max-width: 100%;
      margin-top: 20px;
    }

    span {
      font-family: 'Baron', sans-serif;
      font-style: italic;
      font-size: 55px;
    }
  }

  &__bottom {
    max-width: 55%;
    margin-left: auto;
    align-items: center;
    @include r(1024) {
      max-width: 80%;
    }
    @include r(768) {
      margin-left: 0;
      flex-wrap: wrap;
    }

    p {
      color: #ae6a49;
      font-weight: 100;
      font-size: 18px;
      @include r(1024) {
        max-width: 60%;
        margin-bottom: 20px;
      }
    }
  }

  &__bottom-btn {
    font-size: 40px;
    color: #f3e9e1;
    font-weight: 100;
    text-transform: uppercase;
    padding: 8px 10px;
    border: 1px solid currentColor;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    flex: 0 0 auto;
    @include r(768) {
      margin: 0 auto;
    }
  }
}

.how {
  background-image: url('../img/how-bg.png');
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  z-index: 20;
  @include r(768) {
    margin-left: -30px;
    padding-left: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    background-image: url('../img/how-bg-2.png');
    width: 361px;
    height: 214px;
    z-index: 30;
    @include r(576) {
      left: 0;
    }
  }

  &__title {
    margin-bottom: 35px;
    color: #161d30;
    font-size: 84px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Baron', sans-serif;
    line-height: 1;
    @include r(1024) {
      font-size: 60px;
    }
    @include r(576) {
      font-size: 40px;
    }
    @include r(480) {
      font-size: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    color: #000;
    font-family: 'Roonite', sans-serif;
    font-size: 32px;
  }

  &__orange {
    margin-bottom: 40px;
    max-width: 40%;
    color: #ae6a49;
    font-weight: 300;
    font-size: 20px;
    @include r(1024) {
      max-width: 80%;
    }

    span {
      display: block;
      font-style: italic;
      font-size: 17px;
      color: #313058;
    }
  }

  &__list {
    gap: 16px;
    @include r(1024) {
      flex-wrap: wrap;
    }
    @include r(768) {
      margin-bottom: 40px;
    }
  }

  &__item {
    flex: 1 1 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #2f3243;
    border: 1px solid #be8668;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    @include r(1024) {
      flex-basis: calc((100% - 1 * 16px) / 2);
    }
    @include r(576) {
      flex-basis: 100%;
    }
  }
}

.time {
  margin-left: -30px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  @include r(768) {
    position: relative;
    background-image: url('../img/time-mobile-bg.png');
    background-repeat: repeat;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 60px;
      background-image: url('../img/time-mobile-bg.png');
      top: 0;
      right: -30px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 240px;
    padding-bottom: 182px;
    @include r(768) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: 0;
      margin-top: 0;
      padding-left: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -190px;
      top: 0;
      width: 190px;
      height: 96px;
      background-image: url('../img/time-before.png');
      @include r(768) {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: -368px;
      top: 0;
      width: 193px;
      height: 96px;
      background-image: url('../img/time-after.png');
      background-repeat: no-repeat;
      background-size: cover;
      @include r(1440) {
        right: -328px;
      }
      @include r(1366) {
        right: -25px;
      }
      @include r(768) {
        content: none;
      }
    }
  }

  &__item {
    position: relative;
    flex: 0 0 23%;
    padding: 36px 0;
    z-index: 10;
    @include r(1366) {
      flex-shrink: 1;
    }
    @include r(768) {
      flex: 0 0 50%;
      width: 50%;
      min-height: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include r(576) {
      flex: 0 0 35%;
      width: 35%;
    }

    &::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 0;
      width: 100%;
      height: 480px;
      background-repeat: no-repeat;
      background-size: cover;
      @include r(768) {
        width: 205%;
        height: 100%;
      }
    }

    &:first-child {
      background-color: #ad6949;
      p {
        @include r(576) {
          transform: rotate(90deg);
        }
      }

      &::before {
        background-image: url('../img/th-01.png');
        @include r(768) {
          background-image: url('../img/thm-01.png');
        }
      }
    }

    &:nth-child(2) {
      background-color: #be8668;

      &::before {
        background-image: url('../img/th-02.png');
        @include r(768) {
          background-image: url('../img/thm-02.png');
        }
      }
    }

    &:nth-child(3) {
      background-color: #cea18c;

      &::before {
        background-image: url('../img/th-03.png');
        @include r(768) {
          background-image: url('../img/thm-03.png');
        }
      }
    }

    &:nth-child(4) {
      background-color: #6d6d72;

      &::before {
        background-image: url('../img/th-04.png');
        @include r(768) {
          background-image: url('../img/thm-04.png');
        }
      }
    }

    &:last-child {
      background-color: #2f3243;

      &::before {
        background-image: url('../img/th-05.png');
        @include r(768) {
          background-image: url('../img/thm-05.png');
        }
      }
    }

    p {
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      color: #f3e9e1;
      font-size: 30px;
    }
  }

  &__descr {
    position: absolute;
    padding-left: 20px;
    max-width: 100%;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    border-left: 2px solid #2f3243;
    line-height: 1.2;
    min-width: 80%;
    @include r(576) {
      min-width: calc(100% + 60px);
    }
    @include r(375) {
      min-width: calc(100% + 40px);
    }
    @include r(768) {
      left: calc(100% + 80px) !important;
      bottom: auto !important;
      color: #f6eae1;
      height: auto !important;
      border: none;
      &::after {
        content: '';
        position: absolute;
        top: 7px;
        left: -80px;
        width: 80px;
        height: 2px;
        background-color: #000000;
        display: block;
      }
    }
    span {
      color: #525255;
      font-size: 15px;
      width: 100%;
      line-height: 1;
      @include r(768) {
        color: #f6eae1;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2;
      }
    }
    &::before {
      content: '';
      border-radius: 50%;
      background-color: #ad6949;
      position: absolute;
      width: 6px;
      height: 6px;
      left: -4px;
      @include r(768) {
        left: 0;
      }
    }
    &_top {
      padding-top: 8px;
      @include r(768) {
        padding-top: 0;
      }

      &::before {
        top: 0;
        @include r(768) {
          top: 5px;
        }
      }
    }

    &_bottom {
      padding-bottom: 8px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      @include r(768) {
        padding-bottom: 0;
      }

      &::before {
        bottom: 0;
        @include r(768) {
          top: 5px;
          bottom: auto;
        }
      }
    }

    &_01 {
      left: 50px;
      top: -130px;
      height: 130px;
      @include r(768) {
        top: 30px;
      }
    }

    &_02 {
      left: 82px;
      bottom: -110px;
      height: 110px;
      @include r(768) {
        top: 90px;
      }
    }

    &_03 {
      left: 40px;
      top: -67px;
      height: 67px;
      @include r(768) {
        top: 30px;
      }
    }

    &_04 {
      left: 58px;
      bottom: -155px;
      height: 155px;
      @include r(768) {
        top: 90px;
      }
    }

    &_05 {
      left: 0;
      top: -166px;
      height: 166px;
      @include r(768) {
        top: 0;
      }
    }

    &_06 {
      left: 80px;
      bottom: -107px;
      height: 107px;
      @include r(768) {
        top: 55px;
      }
    }

    &_07 {
      left: 86px;
      top: -100px;
      height: 100px;
      @include r(768) {
        top: 120px;
      }
    }

    &_08 {
      left: 38px;
      top: -166px;
      height: 166px;
      @include r(768) {
        top: 20px;
      }
      @include r(480) {
        top: 0px;
      }
    }

    &_09 {
      left: 56px;
      bottom: -169px;
      height: 169px;
      @include r(768) {
        top: 60px;
      }
    }

    &_010 {
      left: 126px;
      bottom: -70px;
      height: 70px;
      @include r(768) {
        top: 125px;
      }
    }

    &_011 {
      left: 166px;
      top: -71px;
      height: 71px;
      @include r(768) {
        top: 170px;
      }
    }

    &_012 {
      left: 60px;
      bottom: -132px;
      height: 132px;
      @include r(768) {
        top: 66px;
      }
    }
  }
}

.time-mobile {
  display: none;
  position: relative;
  background-image: url('../img/time-mobile-bg.png');
  height: 500px;
  margin-left: -30px;
  margin-bottom: 50px;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 60px;
    background-image: url('../img/time-mobile-bg.png');
    top: 0;
    right: -30px;
  }
  @include r(768) {
    //display: block;
  }
}

.symptoms {
  margin-bottom: 90px;

  &__list {
    gap: 30px;
    margin-bottom: 30px;
  }

  &__item {
    min-height: 230px;
    position: relative;
    flex-basis: calc((100% - 2 * 30px) / 3);
    padding: 30px 20px;
    background-color: #f4ebe0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    box-shadow: 0px 0px 24px 0px rgba(174, 106, 73, 0.4);
    background-repeat: no-repeat;
    background-position: top center;
    @include r(1024) {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }
    @include r(576) {
      flex-basis: 100%;
    }

    &:first-child,
    &:nth-child(2) {
      img {
        margin-left: -60px;
      }
    }

    &:nth-child(4) {
      background-image: url('../img/smp-04-bg.png');

      img {
        height: 70px;
      }
    }

    &:nth-child(5) {
      background-image: url('../img/smp-05-bg.png');

      img {
        height: 70px;
      }
    }

    &:nth-child(6) {
      background-image: url('../img/smp-06-bg.png');

      img {
        height: 70px;
      }
    }

    .flex {
      align-items: center;
    }

    span {
      position: relative;
      z-index: 10;
      font-family: 'Baron', sans-serif;
      color: #2c2c55;
      font-style: italic;
      font-size: 120px;
    }
  }

  &__hide {
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #ae6a49;
    border-radius: 60px;
    padding: 25px;
    box-sizing: border-box;
    clip-path: circle(0 at 50% 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 19px;
      color: #f4ebe0;
      line-height: 1;
      text-align: center;
    }
  }

  &__img {
    display: block;
    margin: 0 auto 20px;
  }

  &__description {
    color: #000;
    font-size: 20px;
    text-align: center;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 38px;
    font-family: "Roonite", sans-serif;
    color: #2c2c55;
    line-height: 1;
    text-align: center;
    @include r(1366) {
      font-size: 34px;
    }
  }

  &__link {
    display: block;
    font-size: 32px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 300;
    color: #f6ebe5;
    line-height: 1.2;
    text-align: center;
    background-color: #bb8164;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    margin: 0 auto;
    width: max-content;
    padding: 2px 23px;
  }
}

.what {
  padding-bottom: 105px;

  &__title {
    margin-bottom: 10px;
    font-size: 120px;
    font-family: "Roonite", sans-serif;
    color: #181f3d;
    text-transform: uppercase;
    line-height: 0.85;
    @include r(1366) {
      font-size: 115px;
    }
    @include r(1024) {
      font-size: 90px;
    }
    @include r(576) {
      font-size: 42px;
    }
  }

  &__subtitle {
    margin-bottom: 43px;
    line-height: 1;
    font-size: 30px;
    font-family: "Roonite", sans-serif;
    color: #181f3d;
    text-transform: uppercase;
  }

  &__wr {
    margin-bottom: 45px;
    gap: 50px;
    align-items: center;
    @include r(768) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    gap: 35px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
      @include r(768) {
        margin-bottom: 50px;
      }
    }
  }

  &__if {
    flex: 0 0 43%;
    padding: 30px 10px 25px 40px;
    border-radius: 25px;
    background-color: #7d584d;
    @include r(768) {
      flex-basis: 100%;
    }

    p {
      font-family: "Roonite", sans-serif;
      font-size: 25px;
      color: #fff;
      line-height: 1.25;
      text-transform: uppercase;
      @include r(1024) {
        font-size: 18px;
      }
    }
  }

  &__do {
    color: #fff;

    span {
      font-family: 'Baron', sans-serif;
      font-style: italic;
      font-size: 65px;
    }

    p {
      font-weight: 300;
      font-size: 21px;
    }
  }

  &__contacts {
    justify-content: center;
    align-items: center;
    gap: 35px;
    @include r(576) {
      flex-direction: column;
    }
  }

  &__contact {
    @include r(576) {
      flex: 0 0 auto;
    }
  }

  &__nf {
    background-color: #191E33;
    font-size: 29px;
    font-family: "Roonite", sans-serif;
    color: #f5ede5;
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    padding: 11px 23px;
  }

  &__phone {
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #323343;
  }

  &__tlg {
    background-color: #ece7e1;
    font-size: 29px;
    font-family: "Roonite", sans-serif;
    color: #2c2c55;
    text-transform: uppercase;
    line-height: 1.2;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    padding: 11px 23px;
  }
}


// inner page

.is-about-page {
  height: 100vh;

  .inner-flex {
    @include r(1024) {
      flex-direction: column;
      gap: 0;
      padding-top: 100px;
    }
    @include r(375) {
      padding-top: 70px;
    }
  }

  .right-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../img/about-bg-right.png');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .top-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-image: url('../img/about-bg-top.png');
    background-repeat: no-repeat;
    background-position: 60% 0;
  }

  .bottom-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-image: url('../img/about-bg-bottom.png');
    background-repeat: no-repeat;
    background-position: 20% 100%;
  }

  .main .container {
    height: 100vh;
  }

}

.inner-page {
  .main-flex {
    background-image: none;
  }
}

.inner-flex {
  padding-top: 150px;
  gap: 100px;
}

.question {
  position: fixed;
  flex: 0 0 50%;
  width: 50%;
  z-index: 30;
  @include r(1200) {
    margin-top: -50px;
  }
  @include r(1024) {
    margin-top: 0;
    flex-basis: calc(100% - 190px);
    width: calc(100% - 190px);
    z-index: 45;
    overflow: visible;
    left: 0;
  }
  @include r(768) {
    width: 100%;
  }

  &__list {
    margin-left: 40px;
    margin-bottom: 30px;
    max-width: 60%;
    @include r(1024) {
      margin-left: 0;
      margin-bottom: 0;
      max-width: 100%;
      background-color: rgba(172, 109, 72, 0.8);
      max-height: 0;
      overflow-y: hidden;
      overflow-x: visible;
      transition: max-height .7s ease-in-out;
      position: absolute;
      left: 0;
      width: 100%;

    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 35px;
    padding-left: 20px;
    border-left: 1px solid #a29e99;
    @include r(1024) {
      border: none;
      padding-left: 0;
      justify-content: center;
      gap: 0;
    }

    p {
      display: block;
      font-weight: 500;
      color: #ae6a49;
      font-size: 16px;
      line-height: 1.667;
      border: 0 solid currentColor;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      @include r(1024) {
        color: #fff;
        text-align: center;
        padding: 0 20px;
      }
    }

    span {
      opacity: 0;
      font-size: 0;
      font-family: 'Baron', sans-serif;
      font-style: italic;
      transition: opacity .3s ease-in-out;
      @include r(1024) {
        display: none;
      }
    }


    &.active {
      margin: 10px 0;
      transform: translateX(-70px);
      border: none;
      @include r(1024) {
        transform: none;
        margin: 0;
      }

      p {
        font-family: 'Roonite', sans-serif;
        padding: 10px 20px;
        font-size: 21px;
        line-height: 1;
        color: #161c2e;
        border-width: 1px;
        transform: translateX(-25px);
        @include r(1024) {
          transform: none;
          padding: 8px;
        }
      }

      span {
        opacity: 1;
        font-size: 40px;
        @include r(1024) {
          opacity: 0;
          font-size: 0;
        }
      }
    }

    &:hover {
      p {
        color: #161c2e;
        font-family: 'Roonite', sans-serif;
        font-size: 18px;
        line-height: 1;
      }

      //span {
      //  opacity: 1;
      //  font-size: 40px;
      //}
    }
  }

  &__item {
    @include r(1024) {
      &:first-child {
        margin-top: 20px;
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  &__open {
    display: none;
    width: 100%;
    font-size: 36px;
    color: #976446;
    text-transform: uppercase;
    line-height: 1.667;
    background-color: rgba(245, 218, 201, 0.8);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 35;
    @include r(1024) {
      display: flex;
    }

    svg {
      margin-left: 30px;
      transition: transform .3s ease-in-out;
    }

    &.is-active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.answer {
  flex: 0 1 50%;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 200px;
  @include r(1366) {
    margin-right: 30px;
  }
  @include r(1024) {
    margin-top: 100px;
  }
  @include r(768) {
    margin-right: 0;
    flex: 0 0 100%;
    margin-left: 0;
  }

  &__item {
    position: relative;
    z-index: 35;
    padding: 15px 40px 35px 40px;
    border-radius: 30px;
    background-color: #fff3e7;
    box-shadow: 0px 2px 3.8px 0.2px rgba(152, 152, 152, 0.34);
    margin-bottom: 40px;
    background-image: url('../img/answer-heading.png');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 -50px;
  }

  &__heading {
    margin-bottom: 35px;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 15px;
    color: #fef3e9;
    font-family: 'Baron', sans-serif;
    font-style: italic;
    font-size: 45px;

    &::before,
    &::after {
      content: '';
      width: 40px;
      height: 1px;
      background-color: #fef3e9;
    }
  }

  &__caption {
    text-align: center;
    font-size: 31px;
    font-weight: 500;
    color: #171f30;
  }

  &__text {
    color: #636363;
    font-size: 21px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

//people page


.is-people-page {
  .wrapper {
    width: calc(100% - 200px);
    margin: 0 auto;
    padding: 0;
    position: relative;
    @include r(1024) {
      width: 100%;
    }
  }

  .inner-flex {
    display: block;
    padding-top: 0;
  }

  .top-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100%;
    background-image: url('../img/people-top-bg.png');
    background-repeat: no-repeat;
    background-position: 15% 0;
  }

  .right-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100%;
    background-image: url('../img/people-right-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 30px;
  }

  .bottom-bg {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-image: url(../img/people-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
  }
}


.video {
  background-image: url('../img/people-blue-bg.png');
  width: 100%;

  &__container {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 50;
    @include r(1024) {
      max-width: calc(100% - 100px);
    }
    @include r(768) {
      max-width: 100%;
    }

    &.right-line {
      padding-top: 150px;
      border-right: 1px solid #fff;
      @include r(1024) {
        border: none;
      }
    }
  }


  &__title {
    font-family: 'Baron', sans-serif;
    color: #ae6a49;
    font-size: 58px;
    line-height: 1.2;
    margin-bottom: 15px;
    @include r(1024) {
      padding: 0 60px;
    }
    @include r(768) {
      font-size: 42px;
      padding: 0 30px;
    }
    @include r(576) {
      font-size: 32px;
      padding: 0 15px;
    }
  }

  &__wrapper {
    background-image: url('../img/video-bg.png');
    background-repeat: no-repeat;
    height: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #fff;
    cursor: pointer;
    background-size: cover;
    position: relative;
    @include r(1024) {
      border: none;
    }
    @include r(576) {
      background-image: url('../img/video-bg-mobile.png');
      height: 225px;
    }

    &::before {
      content: '';
      position: absolute;
      margin: 0 auto;
      top: 0;
      height: 1px;
      width: calc(100vw - 200px);
      background-color: #fff;
      @include r(1024) {
        content: none;
      }
    }

    &.is-playing {
      background-image: none;
    }
  }

  &__frame {
    display: none;
  }
}


.video-text {
  .video__container {
    padding-top: 70px;
    padding-bottom: 300px;
    background-color: rgb(174, 106, 73, .2);
    @include r(768) {
      padding-bottom: 120px;
    }
  }

  &__content {
    max-width: 680px;
    margin: 0 auto;
    position: relative;
    z-index: 70;
    @include r(576) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    p {
      font-size: 21px;
      color: #15192b;
      margin-bottom: 25px;
    }
  }
}
