<footer class="footer">
  <div class="container">
    <div class="inner">
      <p class="footer__top-text">Данный материал разработан при поддержке компании ооо "астразенека фармасьютикалз”.
        материал предназначен для широкой аудитории. информация, представленная в данном материале не представляет и не
        заменяет консультацию врача. необходимо получить консультацию врача.</p>
      <div class="flex footer__flex">
        <p class="footer__copy">
          ООО «АстраЗенека Фармасьютикалз»
          123112, г. Москва, 1-й Красногвардейский проезд,
          д.21, стр.1., Башня «ОКО», 30 этаж.
          Тел.: +7 (495) 799-56-99, факс: +7 (495) 799-56-98,
          www.astrazeneca.ru, ww.az-most.ru
          ©AstraZeneca 2020. Все права защищены.
          Unbranded-Respiratory_RU-8102.
          Дата одобрения: 24.08.2020. Дата истечения: 23.08.2022.
        </p>
        <nav class="footer__nav nav">
          <ul class="nav__list flex flex_wrap">
            <li class="nav__item"><a href="" class="nav__link">Политика конфиденциальности</a></li>
            <li class="nav__item"><a href="" class="nav__link">Сообщить о рекламации
              на лекарственный препарат</a></li>
            <li class="nav__item"><a href="" class="nav__link">Политика конфиденциальности</a></li>
            <li class="nav__item"><a href="" class="nav__link">Сообщить о побочном действии</a></li>
            <li class="nav__item"><a href="" class="nav__link">Контактная информация</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

