<section class="hero" id="one">
  <div class="container">
    <div class="inner">
      <p class="hero__subtitle">Это социально-информационный проект
        о нейрофиброматозе 1 типа и людях с таким диагнозом.</p>
      <p class="hero__title">Пятно <span class="only-desktop">—</span> <br> не <span class="hero__dots">точка</span></p>
      <div class="hero__btns flex hero__flex">
        <button class="btn-reset hero__btn hero__btn_nf">О нейрофиброматозe</button>
        <button class="btn-reset hero__btn hero__btn_about">О людях</button>
      </div>
    </div>
  </div>
</section>
