.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 22px;
  &__btns {
    display: flex;
    gap: 16px;
  }
  &__btn {
    position: relative;
    z-index: 50;
  }
}

.logo {
  position: relative;
  z-index: 50;
}

.inner-page {
  .header {
    position: fixed;
    &__btns {
      display: none;
    }
  }
}
