.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 22px;
  &__btns {
    display: flex;
    gap: 16px;
  }
  &__btn {
    position: relative;
    z-index: 50;
  }
}

.logo,
.logo-white {
  position: relative;
  z-index: 50;
}

.logo-white {
  display: none;
}

.is-about-page {
  .header {
    z-index: 30;
    background-image: url('../img/about-header-bg.png');
    background-size: cover;
    position: fixed;
    width: calc(100% - 190px);
    padding-bottom: 30px;
  }
}

.is-people-page {
  .header {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: calc(100% - 190px);
    z-index: 60;
  }
  .logo {
    display: none;
  }
  .logo-white {
    display: block;
  }
  .btn_grey {
    color: #fff9e9;
    border-color: #fff9e9;
  }
}
