.sidebar {
  width: 190px;
  flex: 0 0 190px;
  display: flex;
  align-items: flex-start;
  position: relative;
  border-right: 1px solid #000;
  @include r(768) {
    display: none;
  }

  &__btn {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    font-size: 41px;
    font-weight: 100;
    color: #efede8;
    text-transform: uppercase;
    line-height: 1.2;
    width: 50%;
    height: 100%;
    transition: color .3s ease-in-out, background-color .3s cubic-bezier(.43,.4,.43,.97);

    p {
      transform: rotate(-180deg);
      writing-mode: tb-rl;
      height: 500px;
      display: flex;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -6px;;
        background-image: url('../img/sd-bxsh-2.png');
        background-size: cover;
        width: 70px;
        height: 70px;
      }
    }
    &_about {
      background-color: #ae6a49;
      position: relative;
      z-index: 50;

      p {
        &::before {
          background-image: url('../img/sd-bxsh-1.png');
        }
      }
      &:hover {
        color: #1f273d;
      }
    }
    &_people {
      &:hover {
        background-color: #1f273d;
        color: #986752;
      }
    }
  }
}

.is-about-page {
  .sidebar {
    position: fixed;
    height: 100vh;
    right: 0;
    z-index: 30;
    &__btn {
      padding-top: 30vh;
    }
  }
  .sidebar__btn_people {
    background-color:rgba(104,105,117,0.8);;
  }
}

.is-people-page {
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 50;
    &__btn {
      padding-top: 30vh;
    }
  }
  .sidebar__btn {
    max-width: 100px;
  }
  .sidebar__btn_people {
    background-color:rgba(104,105,117,0.8);
    position: absolute;
    right: 0;
  }
}

